
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

@font-face {
    font-family: "Fugaz One",  system-ui;
    
    src: url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
 }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
@keyframes animate {
    from{

    }
    to{
        background-image: linear-gradient(#283618,#669bbc,#ccd5ae)
    }
}
@keyframes logosty{
    from{

    }
    to{
        background-image: linear-gradient(white,red,white,blue,white)
    }
}

@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
    font-family: "Tinos",  system-ui;
    src: url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
 }

.outercontainer{
    width: 100vw;
    height: 100vh;
    background-image: url(shirtbg.png);
    background-size: cover;
    background-position: center;
}
.div1{
    width: 100vw;
    height: 732px;
    border: 2px solid ;
    background-color: rgb(0, 0, 0, 0.4);
    flex-direction: column;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav{
    width: 100%;
    height: 80px;
    background-color: rgba(148, 122, 175, 0.4);
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: visible;
    font-family: "Fugaz One", system-ui;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */

}
nav a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}
nav a:hover{
    color: black;
    font-size: 35px;
}
.logo a{
    background-image: linear-gradient(white,blue,white,red,white);
    background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            animation-name: logosty;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-iteration-count: infinite;
    
}
.search{
    width: 450px;
    height: 40px;
    background-color: white;
    position: relative;
    border-radius: 5px;
}
input[type='search']{
    background-color: transparent;
    width: 420px;
    height: 40px;
    margin-left: 30px;
    border: none;
    color: brown;
    border-color: white;
}
input::placeholder{
color:wheat;
font-size: larger;
border-bottom: white;
}
.search img{
    width: 24px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    
    
}
.signin a{
    font-size: 25px;
}

.cart{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.cart img{
    width: 20px;
}

.catlouge{
    background-image: radial-gradient(#606c38,white);
    border-top: 8px double green;
    width: 100%;
    height: 700px;
    /* margin-top: 130px; */
    display: flex;
    overflow: scroll;
    font-family: "Tinos",  system-ui;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.product{
    /* background-image: conic-gradient(#606c38,#ae2012); */
    width: 300px;
    height: 350px;
    border-radius: 15px;
    /* border: 2px solid red; */
    /* margin-top: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    
}
.product img{
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    transition-timing-function: ease-in-out;
    /* transition-delay: 2s; */
}
.product img:hover{
    transform: scale(110%);
    cursor: pointer;
}
.product:hover{
        color: #03045e;
        /* background-color: white; */
        background-image: linear-gradient(#99582a,#a3b18a,#669bbc);
        border: 2px solid ;
        animation-name: animate;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-iteration-count: infinite;
}
.product h3,p{
        margin: 5px auto;
        background: none;
}
        
.product button{
            width: fit-content;
            background: none;
            /* margin: auto; */
            margin-bottom: 20px;
            padding: 5px 10px;
            background-color: black;
            color: white;
            cursor: pointer;
            border-radius: 10px;
            
        }
        button:hover{
            background-color: white;
            color: black;
            
        }

.foot{
    /* position: absolute; */
    width: 100%;
    height: 5px;
    display: flex;
    justify-content: center;
}
footer{
    font-size: large;
    margin-bottom: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(22, 3, 3);
    
}

.productlist{
    display: flex;
    /* border: 3px solid blue; */
    border-radius: 4px 7px 3px red;
    width: 100%;
    overflow-x: scroll;
    gap: 10px;
    padding: 10px;
    background-color: white;
    justify-content: space-evenly;
}
.productlistitem img{
    width: 100px;
    height: 100px;
}
.productlistitem a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #669bbc;
    /* row-gap: 5px; */
    
}
.back{
    position: absolute;
    margin-left: 90vw;
    margin-top: 80vh;
    
}
.back img{
    width: 50px;
    
}