*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outercontainer{
    width: 100vw;
    height: 100vh;
    
    background-image: url(shirtbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.div1{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    min-height: 100vh;
    position: relative;
    /* flex-direction: column; */
}


nav{
    position: absolute;
    overflow:visible;
    /* display: inline-flex; */
    width: 100%;
    height: 70px;
    background-color: rgba(205, 200, 50, 0.4);
    border: 3px solid blue;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(248, 247, 247);
    /* gap: 90px; */
    
}
.logo{
    font-size: 20px;
    font-weight: bolder;
}
.links{
    font-size: 20px;
    /* position: absolute; */
    display: flex;
    /* justify-content:space-evenly;
    align-items: center; */
    gap: 30px;
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: black;
}

.sign{
    cursor: pointer;

}
.logo:hover{
    font-size: 25px;
    
}
.items:hover{
    font-size: 25px;
}
.sign:hover{
    color: black;
    font-size: 25px;
    
}
